
@{
    ViewData["Title"] = "MainPage";
}

<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
            <li><a href="#" class="active">Blog</a></li>
            <li>Classic</li>
        </ul>
    </div>
</nav>
<div class="page-content with-sidebar">
    <div class="container">
        <div class="row gutter-lg">
            <div class="col-lg-9">
                <div class="posts">
                    <article class="post post-classic mb-7">
                        <figure class="post-media overlay-zoom">
                            <a asp-controller="blog" asp-action="detail">
                                <img src="~/assets/images/blog/1_lg.jpg" width="870" height="420" alt="post" />
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                on <a href="#" class="post-date">Sep 6,2020</a>
                                | <a href="#" class="post-comment"><span>3</span> Comments</a>
                            </div>
                            <h4 class="post-title">
                                <a asp-controller="blog" asp-action="detail">
                                    Explore Fashion Trending For
                                    Women In Autumn 2021
                                </a>
                            </h4>
                            <p class="post-content">
                                Sed pretium, ligula sollicitudin laoreet viverra,
                                tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse
                                potenti.
                                Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue.
                            </p>
                            <a asp-controller="blog" asp-action="detail" class="btn btn-link btn-underline btn-primary">
                                Read more<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                    <article class="post post-classic post-video mb-7">
                        <figure class="post-media">
                            <a asp-controller="blog" asp-action="detail">
                                <img src="~/assets/images/blog/2_lg.jpg" width="870" height="420" alt="post" />
                            </a>
                            <span class="video-play"></span>
                            <video width="380">
                                <source src="video/memory-of-a-woman.mp4" type="video/mp4">
                            </video>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                on <a href="#" class="post-date">Nov 6,2019</a>
                                | <a href="#" class="post-comment"><span>7</span> Comments</a>
                            </div>
                            <h4 class="post-title">
                                <a asp-controller="blog" asp-action="detail">Complete Set Of Ski Tools</a>
                            </h4>
                            <p class="post-content">
                                Sed pretium, ligula sollicitudin laoreet viverra,
                                tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse
                                potenti.
                                Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue.
                            </p>
                            <a asp-controller="blog" asp-action="detail" class="btn btn-link btn-underline btn-primary">
                                Read more<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                    <article class="post post-classic mb-7">
                        <figure class="post-media">
                            <div class="owl-carousel owl-theme owl-dot-inner owl-dot-white row cols-1 gutter-no"
                                 data-owl-options="{
                                            'items': 1
                                        }">
                                <img src="~/assets/images/blog/3_lg.jpg" width="870" height="420" alt="post" />
                                <img src="~/assets/images/blog/2_lg.jpg" width="870" height="420" alt="post" />
                                <img src="~/assets/images/blog/1_lg.jpg" width="870" height="420" alt="post" />
                            </div>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                on <a href="#" class="post-date">May 17, 2018</a>
                                | <a href="#" class="post-comment"><span>4</span> Comments</a>
                            </div>
                            <h4 class="post-title">
                                <a asp-controller="blog" asp-action="detail">
                                    Explore Fashion Ipad And
                                    Accessories
                                </a>
                            </h4>
                            <p class="post-content">
                                Sed pretium, ligula sollicitudin laoreet viverra,
                                tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse
                                potenti.
                                Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue.
                            </p>
                            <a asp-controller="blog" asp-action="detail" class="btn btn-link btn-underline btn-primary">
                                Read more<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                    <article class="post post-classic mb-5">
                        <figure class="post-media overlay-zoom">
                            <a asp-controller="blog" asp-action="detail">
                                <img src="~/assets/images/blog/4_lg.jpg" width="870" height="420" alt="post" />
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                on <a href="#" class="post-date">Nov 18, 2019</a>
                                | <a href="#" class="post-comment"><span>9</span> Comments</a>
                            </div>
                            <h4 class="post-title">
                                <a asp-controller="blog" asp-action="detail">
                                    Women's Trending Sunglasses
                                    And Clothing
                                </a>
                            </h4>
                            <p class="post-content">
                                Sed pretium, ligula sollicitudin laoreet viverra,
                                tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse
                                potenti.
                                Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue.
                            </p>
                            <a asp-controller="blog" asp-action="detail" class="btn btn-link btn-underline btn-primary">
                                Read more<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                           aria-disabled="true">
                            <i class="d-icon-arrow-left"></i>Prev
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                        <a class="page-link page-link-next" href="#" aria-label="Next">
                            Next<i class="d-icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <aside class="col-lg-3 right-sidebar sidebar-fixed sticky-sidebar-wrapper">
                <div class="sidebar-overlay">
                    <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                </div>
                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-left"></i></a>
                <div class="sidebar-content">
                    <div class="sticky-sidebar" data-sticky-options="{'top': 89, 'bottom': 70}">
                        <div class="widget widget-search border-no mb-2">
                            <form action="#" class="input-wrapper input-wrapper-inline btn-absolute">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                       placeholder="Search in Blog" required />
                                <button class="btn btn-search btn-link" type="submit">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widget widget-collapsible border-no">
                            <h3 class="widget-title">Blog Categories</h3>
                            <ul class="widget-body filter-items search-ul">
                                <li><a href="#">Accessories</a></li>
                                <li>
                                    <a href="#">Clothing</a>
                                    <ul class="children">
                                        <li><a href="#">Summer Sale</a></li>
                                        <li><a href="#">Winter Sale</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Musicial instruments</a>
                                    <ul class="children">
                                        <li><a href="#">Headphone</a></li>
                                        <li><a href="#">Speaker</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Backpack & Fashion bags</a></li>
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Popular Posts</h3>
                            <div class="widget-body">
                                <div class="post-col">
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a asp-controller="blog" asp-action="detail">
                                                <img src="~/assets/images/blog/1_xs.jpg" width="90" height="90"
                                                     alt="post" />
                                            </a>
                                        </figure>
                                        <div class="post-details">
                                            <div class="post-meta">
                                                <a href="#" class="post-date">Nov 22, 2020</a>
                                            </div>
                                            <h4 class="post-title">
                                                <a asp-controller="blog" asp-action="detail">
                                                    The Best
                                                    Choice For
                                                    Spending Time
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a asp-controller="blog" asp-action="detail">
                                                <img src="~/assets/images/blog/2_xs.jpg" width="90" height="90"
                                                     alt="post" />
                                            </a>
                                        </figure>
                                        <div class="post-details">
                                            <div class="post-meta">
                                                <a href="#" class="post-date">Jun 6, 2019</a>
                                            </div>
                                            <h4 class="post-title">
                                                <a asp-controller="blog" asp-action="detail">
                                                    Women's
                                                    Fashion
                                                    Summer Dress
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm">
                                        <figure class="post-media">
                                            <a asp-controller="blog" asp-action="detail">
                                                <img src="~/assets/images/blog/3_xs.jpg" width="90" height="90"
                                                     alt="post" />
                                            </a>
                                        </figure>
                                        <div class="post-details">
                                            <div class="post-meta">
                                                <a href="#" class="post-date">May 13, 2020</a>
                                            </div>
                                            <h4 class="post-title">
                                                <a asp-controller="blog" asp-action="detail">
                                                    Women’s
                                                    Sneaker
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">About us</h3>
                            <div class="widget-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt.
                                </p>
                            </div>
                        </div>

                        <div class="widget widget-posts widget-collapsible">
                            <h3 class="widget-title">Tag Cloud</h3>
                            <div class="widget-body">
                                <a href="#" class="tag">Bag</a>
                                <a href="#" class="tag">Classic</a>
                                <a href="#" class="tag">Converse</a>
                                <a href="#" class="tag">Leather</a>
                                <a href="#" class="tag">Fit</a>
                                <a href="#" class="tag">Green</a>
                                <a href="#" class="tag">Man</a>
                                <a href="#" class="tag">Jeans</a>
                                <a href="#" class="tag">Women</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

