@model IEnumerable<Faq>
@{
    ViewData["Title"] = "Faqs";
}
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
            <li>FAQs</li>
        </ul>
    </div>
</nav>
<div class="page-header" style="background-image: url(images/page-header/faq.jpg)">
    <h3 class="page-subtitle lh-1">Frequently</h3>
    <h1 class="page-title font-weight-bold text-capitalize lh-1">Asked Questions</h1>
</div>
<div class="page-content mb-10 pb-8">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-10">
                    <h2 class="title pl-2 pr-2 ls-m text-left">Customer Management</h2>
                    <div class="accordion accordion-border accordion-boxed accordion-plus">
                        @foreach (var item in Model)
                        {
                        <div class="card">
                            <div class="card-header">
                                <a href="#collapse@(item.Id)" class="expand">
                                    @item.Question
                                </a>
                            </div>
                            <div id="collapse@(item.Id)" class="collapsed" style="display:none">
                                <div class="card-body">
                                    <p>
                                       @item.Answer
                                    </p>
                                </div>
                            </div>
                        </div>
                        }
                        
               
                    </div>
                </div>
              
            </div>
        </div>
    </section>

</div>
@section addjs{ 
    <script>
        $(document).ready(function () {
            const afn = $('.acardion')
                .find('.card:first-child a')
                .removeClass('expand')
                .addClass('collapse')
                .attr('href');
            $(`${afn}`)
                .removeClass('collapsed')
                .addClass('expanded')
                .css('display', 'block');
        });
    </script>
}

